@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar";
@plugin "daisyui";

@layer base {
  @font-face {
    font-family: "Playfair";
    src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Playfair";
    src: url("../assets/fonts/PlayfairDisplay-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "InstrumentSans";
    src: url("../assets/fonts/InstrumentSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}

/* * {
  margin: 0;
  padding: 0;
} */

:root {
  --bodyBg: #f6f6f6;
  --primary-theme: #133857;
  --primary-theme-1: #0b2d48;
  --secondary-theme: #939393;
  --white: #ffffff;
  --primary-accent: #1abadc;
  --text: #313131;
  --secondary-accent-1: #dce6ed;
  --secondary-accent-2: #ffefde;
  --secondary-accent-3: #ffe5e5;
  --links: #707eae;
  --midnight: #0b2d48;

  --black-500: #000000;
  --black-400: #2b2b2b;
  --black-200: #2563eb00;
  --black-100: #000000b3;
  --orange-500: #e8601a;
  --orange-450: #eb7217;
  --orange-400: #f57600;
  --orange-300: #f19411;
  --orange-100: #f4dcbb;
  --orange-alert: #ffcd69;
  --indigo-900: #2b3674;
  --gray-700: #222222;
  --gray-500: #6c6c6c;
  --gray-450: #767676;
  --gray-400: #888888;
  --gray-350: #a5a5a5;
  --gray-300: #c4c4c4;
  --gray-250: #ececec;
  --gray-200: #eaeaea;
  --gray-180: #f8f8f8;
  --gray-150: #f4f4f4;
  --gray-100: #f3f4f6;
  --slate-500: #64748b;
  --gray-disable: #fcfcfc;
  --red-500: #ff0000;
  --green-500: #059669;
  --dark-green: #0F6424;

  --green-300: #d1fae5;
  --green-100: #d1fae5;
  --blue-link: #046de7;
  --bg-hvr: #3e3e3e;
  --error: #fad1d1;
  --overlay: rgba(0, 0, 0, 0.7);
  --bg-dialog: #eaeaead9;
  --dialog-circle: rgba(241, 148, 17, 0.2);
  --shadow: rgba(0, 0, 0, 0.12);
  --shadow-dialog: rgba(0, 0, 0, 0.12);
  --shadow-popover: rgba(0, 0, 0, 0.17);
  --fontDefault: "InstrumentSans";
  --fontMercury: "Mercury Display";
  --border-thin: 0.094rem;
  --border-toggle: 1.8px;
  --txt-7: 7px;
  --txt-xxs: 9px;
  --txt-10: 10px;
  --txt-12: 12px;
  --txt-13: 13px;
  --txt-14: 14px;
  --txt-15: 15px;
  --txt-16: 16px;
  --txt-xs: 11px;
  --txt-sm: 0.75rem;
  --txt-md: 0.875rem;
  --txt-lg: 1rem;
  --txt-lg-18: 1.125rem;
  --txt-ic-lg: 1.5rem;
  --txt-ic-xl: 1.7rem;
  --txt-ic-xxl: 2.4rem;
  --txt-ic-20: 20px;
  --txt-ic-22: 22px;
  --txt-22_4px: 22.4px;
  --txt-ic-30: 30px;
  --txt-ic-35: 35px;
  --txt-xl: 2rem;
  --txt-4xl: 4rem;
  --txt-22: 1.4rem;
  --txt-19: 19px;
  --txt-20: 20px;
  --txt-29: 29px;
  --txt-32: 32px;
  --txt-36: 36px;
  --txt-40: 40px;
  --txt-59: 59px;
  --txt-94: 94px;
}

@theme {
  --font-playfair: "Playfair", "serif";

  --color-background-theme: var(--bodyBg);
  --color-primary-theme: var(--primary-theme);
  --color-primary-theme-1: var(--primary-theme-1);
  --color-secondary-theme: var(--secondary-theme);

  --color-primary-accent: var(--primary-accent);
  --color-color-text: var(--text);
  --color-secondary-accent-1: var(--secondary-accent-1);
  --color-secondary-accent-2: var(--secondary-accent-2);
  --color-secondary-accent-3: var(--secondary-accent-3);
  --color-links: var(--links);
  --color-midnight: var(--midnight);

  --color-white: var(--white);
  --color-black-500: var(--black-500);
  --color-black-400: var(--black-400);
  --color-black-200: var(--black-200);
  --color-black-100: var(--black-100);
  --color-orange-500: var(--orange-500);
  --color-orange-450: var(--orange-450);
  --color-orange-400: var(--orange-400);
  --color-orange-300: var(--orange-300);
  --color-orange-100: var(--orange-100);
  --color-orange-alert: var(--orange-alert);
  --color-indigo-900: var(--indigo-900);
  --color-gray-700: var(--gray-700);
  --color-gray-500: var(--gray-500);
  --color-gray-450: var(--gray-450);
  --color-gray-400: var(--gray-400);
  --color-gray-350: var(--gray-350);
  --color-gray-300: var(--gray-300);
  --color-gray-250: var(--gray-250);
  --color-gray-200: var(--gray-200);
  --color-gray-180: var(--gray-180);
  --color-gray-150: var(--gray-150);
  --color-gray-100: var(--gray-100);
  --color-slate-500: var(--slate-500);
  --color-gray-disable: var(--gray-disable);
  --color-red-500: var(--red-500);
  --color-dark-green: var(--dark-green);
  --color-green-500: var(--green-500);
  --color-green-300: var(--green-300);
  --color-green-100: var(--green-100);
  --color-blue-link: var(--blue-link);
  --color-bg-hvr: var(--bg-hvr);
  --color-error: var(--error);
  --color-shadow: var(--shadow);
  --color-shadow-dialog: var(--shadow-dialog);
  --color-shadow-popover: var(--shadow-popover);
  --color-overlay: var(--overlay);
  --color-bg-dialog: var(--bg-dialog);
  --color-dialog-circle: var(--dialog-circle);
  --color-border-thin: var(--border-thin);

  --spacing-px: 1px;
  --spacing-2px: 2px;
  --spacing-3px: 3px;
  --spacing-4px: 4px;
  --spacing-5px: 5px;
  --spacing-range-5: 0.8px;
  --spacing-0: 0px;
  --spacing-0.2: 0.21rem;
  --spacing-0.5px: 0.5px;
  --spacing-0.34: 0.34rem;
  --spacing-0.4: 0.475rem;
  --spacing-0.7: 0.177rem;
  --spacing-4.1: 4.1rem;
  --spacing-5.5: 5.5rem;
  --spacing-pd-6: 6px;
  --spacing-pd-7: 7px;
  --spacing-pd-9: 9px;
  --spacing-pd-9.5: 9.5px;
  --spacing-pd-10: 10px;
  --spacing-pd-11: 11px;
  --spacing-pd-16: 16px;
  --spacing-pd-18: 18px;
  --spacing-pd-20: 20px;
  --spacing-pd-22: 22px;
  --spacing-pd-24: 24px;
  --spacing-pd-26: 26px;
  --spacing-pd-29: 29px;
  --spacing-pd-33: 33px;
  --spacing-mlp-5: 5px;
  --spacing-mtp-3.5: 3.5px;
  --spacing-mtp-7: 7px;
  --spacing-mtp-10: 10px;
  --spacing-mbp-14: 14px;
  --spacing-mtp-15: 15px;
  --spacing-mtp-16: 16px;
  --spacing-mtp-17: 17px;
  --spacing-mtp-18: 18px;
  --spacing-mtp-19: 19px;
  --spacing-mtp-22: 22px;
  --spacing-mbp-25: 25px;
  --spacing-mbp-30: 30px;
  --spacing-mbp-33: 33px;
  --spacing-mbp-42: 42px;
  --spacing-mtp-52: 52px;
  --spacing-mbp-60: 60px;
  --spacing-mbp-72: 72px;
  --spacing-mbp-90: 90px;
  --spacing-mbp-182: 182px;
  --spacing-mbp-190: 190px;
  --spacing-mbp-215: 215px;
  --spacing-mbp-222: 222px;
  --spacing-left-23: 23%;
  --spacing-left-30: 30%;
  --spacing-left-32: 32%;
  --spacing-left-39: 39%;
  --spacing-left-45: 45%;

  --text-xs-7: var(--txt-7);
  --text-txt-10: var(--txt-10);
  --text-xxs: var(--txt-xxs);
  --text-xs: var(--txt-xs);
  --text-txt-md-12: var(--txt-12);
  --text-txt-md-13: var(--txt-13);
  --text-txt-md-14: var(--txt-14);
  --text-txt-md-15: var(--txt-15);
  --text-txt-md-16: var(--txt-16);
  --text-sm: var(--txt-sm);
  --text-base: var(--txt-md);
  --text-lg: var(--txt-lg);
  --text-txt-lg-18: var(--txt-lg-18);
  --text-xl: var(--txt-xl);
  --text-13px: var(--txt-xl);
  --text-ic-lg: var(--txt-ic-lg);
  --text-ic-xl: var(--txt-ic-xl);
  --text-ic-xxl: var(--txt-ic-xxl);
  --text-title-4xl: var(--txt-4xl);
  --text-txt-ic-20: var(--txt-ic-20);
  --text-txt-ic-22: var(--txt-ic-22);
  --text-txt-22_4px: var(--txt-22_4px);
  --text-nav-ic: 24px;
  --text-ic-27: 27px;
  --text-txt-28: 28px;
  --text-txt-65: 65px;
  --text-txt-45: 45px;
  --text-txt-36: 36px;
  --text-txt-38: 38px;
  --text-txt-18: 18px;
  --text-ic-30: var(--txt-ic-30);
  --text-ic-35: var(--txt-ic-35);
  --text-txt-16: var(--txt-16);
  --text-txt-19: var(--txt-19);
  --text-txt-29: var(--txt-29);
  --text-txt-32: var(--txt-32);
  --text-txt-40: var(--txt-40);
  --text-txt-59: var(--txt-59);
  --text-txt-94: var(--txt-94);

  --outline-none: 2px solid transparent;
  --outline-white: 2px dotted white;
  --outline-black: 2px dotted black;

  --radius-xs-2: 2px;
  --radius-xs-3: 3px;
  --radius-sm-4: 4px;
  --radius-sm-6: 6px;

  --border-width-DEFAULT: 1px;
  --border-width-0: 0px;
  --border-width-1.5: 1.5px;
  --border-width-1.9: 1.9px;
  --border-width-borderRadio: var(--radio-border);

  --shadow-bShadow: 10px 14px 15.1111px var(--shadow);
  --shadow-bShadowD: 0px 14px 26px 0px var(--shadow-dialog);
  --shadow-bShadowPopOvr: 1px 5px 18px var(--shadow-popover);

  --height-hp-4: 4px;
  --height-hp-6: 6px;
  --height-hp-12: 12px;
  --height-hp-13: 13px;
  --height-hp-15: 15px;
  --height-hp-17: 17px;
  --height-hp-18: 18px;
  --height-hp-21: 21px;
  --height-hp-22: 22px;
  --height-hp-25: 25px;
  --height-hp-26: 26px;
  --height-hp-27: 27px;
  --height-hp-28: 28px;
  --height-hp-29: 29px;
  --height-hp-30: 30px;
  --height-hp-31: 31px;
  --height-hp-32: 32px;
  --height-hp-33: 33px;
  --height-hp-34: 34px;
  --height-hp-35: 35px;
  --height-hp-36: 36px;
  --height-hp-37: 37px;
  --height-hp-38: 38px;
  --height-hp-48: 48px;
  --height-hp-50: 50px;
  --height-hp-54: 54px;
  --height-hp-90: 90px;
  --height-hp-91: 91px;
  --height-hp-120: 120px;
  --height-hp-130: 130px;
  --height-hp-137: 137px;
  --height-hp-150: 150px;
  --height-hp-161: 161px;
  --height-hp-168: 168px;
  --height-hp-185: 185px;
  --height-hp-198: 198px;
  --height-hp-200: 200px;
  --height-hp-250: 250px;
  --height-hp-370: 370px;
  --height-hp-450: 450px;
  --height-hp-2.25: 2.25rem;
  --height-hp-352: 22rem;

  --width-wp-4: 4px;
  --width-wp-6: 6px;
  --width-wp-13: 13px;
  --width-wp-15: 15px;
  --width-wp-16: 16px;
  --width-wp-18: 18px;
  --width-wp-20: 20px;
  --width-wp-25: 25px;
  --width-wp-30: 30px;
  --width-wp-31: 31px;
  --width-wp-32: 32px;
  --width-wp-34: 34px;
  --width-wp-36: 36px;
  --width-wp-40: 40px;
  --width-wp-48: 48px;
  --width-wp-50: 50px;
  --width-wp-58: 58px;
  --width-wp-59: 59px;
  --width-wp-63: 63px;
  --width-wp-66: 66px;
  --width-wp-68: 68px;
  --width-wp-70: 70px;
  --width-wp-75: 75px;
  --width-wp-80: 80px;
  --width-wp-88: 88px;
  --width-wp-84: 84px;
  --width-wp-89: 89px;
  --width-wp-90: 90px;
  --width-wp-92: 92px;
  --width-wp-95: 95px;
  --width-wp-98: 98px;
  --width-wp-102: 102px;
  --width-wp-110: 110px;
  --width-wp-132: 132px;
  --width-wp-140: 140px;
  --width-wp-148: 148px;
  --width-wp-155: 155px;
  --width-wp-dialogbox: 384px;
  --width-wp-164: 164px;
  --width-wp-167: 167px;
  --width-wp-173: 173px;
  --width-wp-187: 187px;
  --width-wp-196: 196px;
  --width-wp-216: 216px;
  --width-wp-243: 243px;
  --width-wp-248: 248px;
  --width-wp-255: 255px;
  --width-wp-272: 272px;
  --width-wp-300: 300px;
  --width-wp-325: 325px;
  --width-wp-282: 282px;
  --width-wp-316: 316px;
  --width-wp-303: 303px;
  --width-wp-360: 360px;
  --width-wp-344: 344px;
  --width-wp-352: 352px;
  --width-wp-384: 384px;
  --width-wp-800: 800px;
  --width-wp-963: 963px;
  --width-wp-1024: 1024px;
  --width-wp-1060: 1060px;
  --width-wp-1170: 1170px;
  --width-wp-1350: 1350px;
  --width-wp-100: 100vw;
  --width-4.5: 1.15rem;
  --width-4.25: 4.25rem;
  --width-42: 10.5rem;
  --width-43: 11rem;
  --width-352: 22rem;
  --width-81: 22.125rem;

  /*7972041872*/

  --leading-leading-0: 0;
  --leading-leading-14.5: 14.5px;
  --leading-leading-1.3: 1.3;
  --leading-leading-28: 28px;
  --leading-leading-24: 24px;
  --leading-leading-22: 22px;
  --leading-leading-30: 30px;
  --leading-leading-35: 35px;

  --breakpoint-4xl: 2000px;
  --breakpoint-3xl: 1900px;
  --breakpoint-lgx768: 768px;
  --breakpoint-lgx960: 960px;
  --breakpoint-lgx982: 982px;
  --breakpoint-lgx1024: 1024px;
  --breakpoint-lgx1170: 1170px;
  --breakpoint-lgx1279: 1279px;
  --breakpoint-lg961x1023-min: 961px;
  --breakpoint-lg961x1023-max: 1023px;
  --breakpoint-sm320x640-min: 320px;
  --breakpoint-sm320x640-max: 640px;
  --breakpoint-tallx539: (max-height: 539px);
  --breakpoint-tallx768: (max-height: 768px);
  --breakpoint-tallx820: (max-height: 820px);
  --breakpoint-tallx1080: (max-height: 1080px);
}
